@import "tailwindcss";

@font-face {
  font-family: "MySloop-ScriptThreeFont";
  src: url("./assets/fonts/Sloop-ScriptThree.ttf") format("truetype");
  font-display: swap;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.no-scrollbar::-webkit-scrollbar {
  display: none;
}